ul, ol {
    font-size: 18px;
    line-height: 2;
    border: 2px solid;
}

h1 {
    font-size: 55px;
    display: block;
    border: solid 2px;
    text-align: center;
}

h4 {
    font-size: 25px;
    display: block;
    margin-bottom: -5px;
    text-align: left;
    margin-left: 5%;
}

img {
    height: 500px;
    width: auto;
}

figure {
    text-align: center;
}

body {
    background-color: rgb(249,204,202,1);
}
